<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
</head>
<body>

  <div id="app">
    <form v-on:submit.prevent="sendTodo">
      <input v-model="todo">
      <input type="submit" val="追加">
    </form>
    <ul v-for="item in list">
      <li v-on:click="doneTodo(item)">
        <span>status: {{item.status}}</span>
        <s v-if="item.status == 'done'">
          {{item.text}}
        </s>
        <span v-else>{{item.text}}</span>
      </li>
    </ul>
  </div>

  <script src="../vue.js"></script>
  <script src="./app.js"></script>
</body>
</html>
